/* print.css */

/* Reguły dla wydruku */
@media print {
	/* Ukryj nagłówek i stopkę strony przy drukowaniu */
	header, footer {
		display: none;
	}

	/* Dostosuj styl wydarzeń do druku */
	main {
		font-size: 16px;
		padding: 10px;
	}
    /* Wyłącz ukrywanie dymków wydarzeń podczas drukowania */
    .event-tooltip {
        display: block !important;
        position: static !important;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        border-radius: 0 !important;
        max-width: none !important;
        overflow: visible !important;
		text-align: center !important;
		page-break-after: always !important;
    }

    /* Odstęp między dymkami podczas drukowania */
    .event-tooltip + .event-tooltip {
        margin-top: 40px;
    }
}
/* Ukryj etykietę podczas drukowania */
label[for="categorySelect"] {
    display: none !important;
}
/* Ukryj elementy podczas drukowania */
.print-hidden {
    display: none !important;
}
