body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
}

header {
	text-align: center;
	background-color: #3498db;
	color: white;
	padding: 20px;
	width: 100%;
}

header h1 {
	margin: 0;
	font-size: 24px;
}

header p {
	font-size: 16px;
}

main {
	text-align: center;
	margin: 20px auto;
	max-width: 1500px;
}

h2 {
	background-color: #3498db;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-size: 24px;
}

footer {
	text-align: center;
	background-color: #3498db;
	color: white;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#timeline {
	background-color: white;
	border: 1px solid #ccc;
	padding: 20px;
}

#controls {
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    background-color: #f0f0f0; /* Dla przykładu - kolor tła */
    padding: 20px; /* Opcjonalne - dodaje odstęp dookoła elementu */
}

.event {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.event-tooltip {
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 100;
	display: none;
}