<div class="container">
    <div class="card"> 
    <h2>Wydarzenia na osi czasu</h2> 
    <p-timeline [value]="filteredEvents" align="alternate"> 
      <ng-template pTemplate="content" let-event>  
        <h5>{{ event.event_name }}</h5>
        <p>{{ event.description }}</p>
        <img *ngIf="event.image" [src]="event.image" alt="Zdjęcie" class="max-size-img">
        <p>Data rozpoczęcia: {{ event.start_date | date: 'dd-MM-yyyy' }}</p>
        <p>Data zakończenia: {{ event.end_date | date: 'dd-MM-yyyy' }}</p>      
      </ng-template> 
    </p-timeline> 
  </div>

    <div class="filter">
      <mat-form-field>
        <mat-label>Od:</mat-label>
        <input matInput [matDatepicker]="startDatePicker" (dateInput)="addStartDateEvent($event)" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Do:</mat-label>
        <input matInput [matDatepicker]="endDatePicker" (dateInput)="addEndDateEvent($event)" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <h1>Wydarzenia z wybranego zakresu czasowego</h1>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="event_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.event_id }}</td>
      </ng-container>
      <ng-container matColumnDef="event_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
        <td mat-cell *matCellDef="let row">{{ row.event_name }}</td>
      </ng-container>
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data rozpoczęcia</th>
        <td mat-cell *matCellDef="let row">{{ row.start_date | date: 'dd-MM-yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data zakończenia</th>
        <td mat-cell *matCellDef="let row">{{ row.end_date | date: 'dd-MM-yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>
      <ng-container matColumnDef="category_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kategoria</th>
        <td mat-cell *matCellDef="let row">{{ categoryMap.get(row.category_id) }}</td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Obrazek</th>
        <td mat-cell *matCellDef="let row">
          <img *ngIf="row.image" [src]="row.image" alt="Obrazek" class="max-size-img">
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
