<div class="event-management-container">
    <h2>Zarządzanie wydarzeniami</h2>

    <!-- Lista istniejących wydarzeń -->
    <div class="event-list">
        <div class="event-list-header">
            <h3>Lista wydarzeń</h3>
            <button class="add-event-btn" (click)="openAddEventModal()">Dodaj wydarzenie</button>
        </div>
        <ul class="events-list">
            <li *ngFor="let event of events" class="event-item">
                <div class="event-details">
                    {{ event.event_name }}
                </div>
                <div class="buttons">
                    <button class="modify-button" (click)="openEditEventModal(event)">Edytuj</button>
                    <button class="cancel-button" (click)="deleteEvent(event.event_id)">Usuń</button>
                </div>
            </li>
        </ul>
    </div>
</div>
